[submodule "sem1/MiASI"]
	path = sem1/MiASI
	url = git@github.com:KiwiGrenade/MiASI
[submodule "sem1/WTI"]
	path = sem1/WTI
	url = git@github.com:KiwiGrenade/WTI
[submodule "sem2-INS/Seminarium_Specjalnosciowe"]
	path = sem2-INS/Seminarium_Specjalnosciowe
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Seminarium_Specjalnosciowe.git
[submodule "sem2-INS/Ochrona_Danych"]
	path = sem2-INS/Ochrona_Danych
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Ochrona_Danych.git
[submodule "sem2-INS/Kierowanie_Projektem_Programistycznym"]
	path = sem2-INS/Kierowanie_Projektem_Programistycznym
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Kierowanie_Projektem_Programistycznym.git
[submodule "sem2-INS/Rozproszone_Systemy_Baz_Danych"]
	path = sem2-INS/Rozproszone_Systemy_Baz_Danych
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Rozproszone_Systemy_Baz_Danych.git
[submodule "sem2-INS/Programowanie_Aplikacji_Mobilnych"]
	path = sem2-INS/Programowanie_Aplikacji_Mobilnych
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Programowanie_Aplikacji_Mobilnych.git
[submodule "sem2-INS/Interakcja_Czlowiek-Komputer"]
	path = sem2-INS/Interakcja_Czlowiek-Komputer
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Interakcja_Czlowiek-Komputer.git
[submodule "sem2-INS/Elementy_uczenia_glebokiego_i_inzynierii_wiedzy"]
	path = sem2-INS/Elementy_uczenia_glebokiego_i_inzynierii_wiedzy
	url = git@github.com:KiwiGrenade/SM-ITE-INS-2025-2026-Elementy_uczenia_glebokiego_i_inzynierii_wiedzy.git
